<meta charset="utf-8" />
<title>{{ title }}</title>
<link href="/primary.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ if description -}}
  <meta name="description" content="{{ description }}" />
{{- /if }}
<link rel="icon" href="/images/favicon.ico" />
