html {
  max-width: 83ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family:
    "Segoe UI Web (West European)",
    "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    "Helvetica",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
hgroup {
  /* loosely inspired by: https://dev.to/swyx/100-bytes-of-css-to-look-great-everywhere-19pd */
  margin-block: 2.5rem 1.5rem;

  /* enforce fancier headers */
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
}

h1,
h2,
h3 {
  /* a somewhat popular "snippet"
  (though usually it covers all levels; but also sometimes only h1 and h2) */
  line-height: 1.2;
}

h1 {
  /* px seems to "handle" font-size changes better than em here, counterintuitively */
  text-shadow: -8px -8px 1px
    color-mix(in srgb, currentColor 12.5%, transparent);
}

/* see also: https://www.w3.org/WAI/WCAG21/Techniques/general/G188 */
p,
ul,
ol {
  margin-bottom: 2em;
}

hgroup {
  > p {
    font-weight: lighter;
    line-height: initial;
  }

  > * {
    margin-block: 0;
  }

  /* while this can be done via flex instead,
    inlining works just as fine (if not better) */
  > h1,
  > h1 + p {
    display: inline;
  }
}
