<!DOCTYPE html>
<html>
  <head>
    {{ include "templates/head-content.vto" }}
  </head>
  <body>
    <header>
      {{- set primary_navigation_id = "primary-navigation" }}
      {{ include "templates/header-jump-to-menu.vto" { primary_navigation_id } -}}
      {{ include "templates/navigation.vto" { id: primary_navigation_id } -}}
    </header>
    <main>
      <article>{{ include "templates/main-article-content.vto" }}</article>
    </main>
  </body>
</html>
{{#- implementation note
This page has h2 before the h1.
This is completely fine: https://www.w3.org/WAI/tutorials/page-structure/headings/ #}}
