<!DOCTYPE html>
<html>
  <head>
    {{ include "templates/head-content.vto" }}
  </head>
  <body>
    <header>
      {{ include "templates/header-jump-to-menu.vto" }}
      <h1>{{ title }}</h1>
    </header>
    <main>
      <article>
        {{ content }}
      </article>
    </main>
    <footer>
      {{ include "templates/navigation.vto" { id: primary_navigation_id } -}}
    </footer>
  </body>
</html>
